@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@Model.Customers

<!--<h2>a( ((Vidly.Models.Movie)ViewData["Movie"]).Name )</h2>-->
